<strong>Olá, {{ deliveryman }}</strong>

<p>Você tem uma nova entrega para fazer, confira os detalhes abaixo:</p>
<p>
  <strong>Nome: </strong>{{ product }} <br>
  <strong>Nome: </strong> {{ name }} <br>
  <strong>Rua: </strong> {{ rua }} <br>
  <strong>CEP: </strong> {{ cep }} <br>
  <br>
  <small>A encomenda está disponível.</small>
</p>
